<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs') %>
</head>
<%- include ('../partials/nav.ejs') %>
<body>
    
    <h1> Blog Web Application </h1>

    <%- include ('../partials/footer.ejs') %>
</body>
</html>